* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

body, button, input, textarea {
  color: #333;
  font: 1rem 400 'Roboto';
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}